/*.htaccess
/.htaccess
/administrator/cache/*
/cache/*
/bin/*
/installation/*
/logs/*
/tmp/*
/configuration.php
/joomla.xml
/*.txt
/*.log
/images/*
/img/*
/pictures/*
/nbproject/private/
/nbproject/*
/images
*.ppm
/picture/*
php.ini
*.orig
